body{
    font-family: 'Otomanopee One', sans-serif;
    text-align: left;

}
.padre{
    display: flex;
}
.mientrada1{
    margin: 10px;
}
.mientrada2{
    margin:10px;

}
.container{
    background: rgb(224, 200, 168);
    border: 1px solid rgb(37, 34, 34);
    border-radius: 10px;
}
